body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  place-items: center;
  place-content: center;
  height: 100vh;
  background: antiquewhite !important;
}

#root {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 600px;
  width: 370px;
  min-width: 370px;
  height: 600px;
  background-color: #303030;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #0a93eb;
}

.MuiTabs-flexContainer {
  justify-content: space-between;
}